ErrorDocument 404 /404.html
RedirectPermanent /devel.html https://curl.haxx.se/dev/
RedirectPermanent /auto/ https://curl.haxx.se/dev/
RedirectPermanent /docs/internals.html https://curl.haxx.se/dev/internals.html
RedirectPermanent /docs/contribute.html https://curl.haxx.se/dev/contribute.html
RedirectPermanent /docs/runtests.html https://curl.haxx.se/dev/runtests.html
RedirectPermanent /docs/testcurl.html https://curl.haxx.se/dev/testcurl.html
RedirectPermanent /source.html https://curl.haxx.se/dev/source.html
RedirectPermanent /bugreport.html https://curl.haxx.se/docs/bugs.html
RedirectPermanent /cvs.cgi https://curl.haxx.se/dev/source.html
RedirectPermanent /cvs.html https://curl.haxx.se/dev/source.html
RedirectPermanent /dev/readme-http2.html https://curl.haxx.se/docs/http2.html
RedirectPermanent /mirrors.html https://curl.haxx.se/mirror/
RedirectPermanent /libcurl/c/libcurl-thread.html https://curl.haxx.se/libcurl/c/threadsafe.html
RedirectMatch "^/.git" https://curl.haxx.se/dev/source.html
RedirectPermanent /docs/adv_2017-11e7.html https://curl.haxx.se/docs/adv_2017-12e7.html

RemoveHandler .php
RemoveHandler .pl
#AddType text/plain .pl
AddType text/plain .php
AddType application/octet-stream .rpm
AddType application/x-bzip2 .bz2
AddType application/x-tar .tar
AddType application/x-pem-file .pem
php_flag engine off

Header set Strict-Transport-Security "max-age=31536000; includeSubDomains; preload"
Header always append X-Frame-Options SAMEORIGIN

<IfModule mod_rewrite.c>
RewriteEngine On

RewriteCond %{HTTPS} off
RewriteRule (.*) https://curl.haxx.se%{REQUEST_URI} [R=301,L]

</IfModule>

<ifmodule mod_expires.c>
ExpiresActive On
ExpiresDefault "access plus 1 seconds"
ExpiresByType text/html "access plus 1 minute"
ExpiresByType image/gif "access plus 6 months"
ExpiresByType image/jpeg "access plus 6 months"
ExpiresByType image/png "access plus 6 months"
ExpiresByType image/svg+xml "access plus 6 months"
ExpiresByType image/vnd.microsoft.icon "access plus 6 months"
ExpiresByType text/css "access plus 7 days"
ExpiresByType text/javascript "access plus 7 days"
ExpiresByType application/javascript "access plus 7 days"
ExpiresByType application/xml "access plus 7 days"
ExpiresByType text/xml "access plus 7 days"
ExpiresByType application/x-gzip "access plus 1 year"
ExpiresByType application/x-bzip2 "access plus 1 year"
ExpiresByType application/zip "access plus 1 year"
ExpiresByType application/x-tar "access plus 1 year"
ExpiresByType application/x-pem-file "access plus 12 hours"
</ifmodule>
