
RedirectPermanent /devel.html http://curl.haxx.se/dev/
RedirectPermanent /auto/ http://curl.haxx.se/dev/
RedirectPermanent /docs/internals.html http://curl.haxx.se/dev/internals.html
RedirectPermanent /docs/contribute.html http://curl.haxx.se/dev/contribute.html
RedirectPermanent /docs/runtests.html http://curl.haxx.se/dev/runtests.html
RedirectPermanent /docs/testcurl.html http://curl.haxx.se/dev/testcurl.html
RedirectPermanent /source.html http://curl.haxx.se/dev/source.html
RedirectPermanent /bugreport.html http://curl.haxx.se/docs/bugs.html
RedirectPermanent /cvs.cgi http://curl.haxx.se/dev/source.html

AddType text/plain .pl
AddType text/plain .php
AddType application/octet-stream .rpm
AddType application/x-bzip2 .bz2
AddType application/x-tar .tar
