BODY {
  background-color: white; 
  font-family: arial, helvetica, ariel, sans-serif;
  color: black;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

a {
  text-decoration: none;
  color: #4040ff;
}

a:hover {
  text-decoration: none;
  color: #ffffff;
  background-color: #093754;
}

/* the curl-style blue main page titles
.pagetitle, h1.libtitle, .newstitle {
  border-style: solid;
  border-width: thin;
  border-color: black;

  background-color: #e0e0ff; 
  font-family: arial, helvetica, ariel, sans-serif;
  color: #0000ff;

  font-size: 150%;
  font-weight: bold;
  padding: 0px 4px 0px 4px;
}

*/

.title {
  color: #000000;
  background-color: #f0f0ff; 
  font-family: arial, helvetica, ariel, sans-serif;
  font-size: 120%;
}

h1 {
    border-bottom: solid 1px black;
    margin-top: 1em;
}

h2 {
    border-bottom: solid 1px black;
}

.subtitle {
  font-weight: bold;
}

tr.tabletop {
  color: #000000;
  background-color: #f0f0ff;
}

.tabletop a {
  color: #ffffff;
}

.buildfail {
  color: #000000;
  background-color: #ff8080;
}

.buildserverprob {
  color: #000000;
  background-color: #ffff00;
}

.buildfine {
  color: #000000;
  background-color: #00ff00;
}

.compile, .changetable {
  border: outset 2px #ffffff;
}

.news {
  border: outset 2px #8080ff;
}

table.secbox {
  border: outset 2px #8080ff;
  background-color: #e0e0ff;
}

table.latestmail {
  border: outset 2px #8080ff;
  font-size: 100%;
}

td.newsdate {
  text-align: right;
}

.mini {
  font-size: 8pt;
  font-family: monospace;
}

.warning {
  font-size: 9pt;
  color: #000000;
  background-color: #ff8080;
}

/* like used for important news items */
.alert {
  color: #ffffff;
  background-color: #f00000;
  padding: 4px 4px 4px 4px;
}

a.alert {
    text-decoration: underline;
}

/* the one in the download database */
td.desc {
  color: #000000;
  background: #e0e0ff;
}

/* used in the download table for a single OS */
.ostitleleft {
  color: #000000;
  background-color: #ffffff; 
  font-family: arial, helvetica, ariel, sans-serif;
  font-size: 120%;
  font-weight: bold;
  padding: 4px 4px 4px 4px;
  border-top: 1px solid black;
  border-left: 1px solid black;
  border-right: none;
}
.ostitleright {
  color: #000000;
  background-color: #ffffff; 
  font-family: arial, helvetica, ariel, sans-serif;
  font-size: 120%;
  font-weight: bold;
  padding: 4px 4px 4px 4px;
  border-top: 1px solid black;
  border-right: 1px solid black;
  border-left: none;
}
td.ostitle {
  color: #000000;
  background-color: #ffffff; 
  font-family: arial, helvetica, ariel, sans-serif;
  font-size: 120%;
  font-weight: bold;
  padding: 4px 4px 4px 4px;
  margin: 0px 0px 0px 0px;
  border-top: 1px solid black;
  border-left: 1px solid black;
  border-right: 1px solid black;
}

/* download page */
.latest2 {
  color: #000000;
  background-color: #ffff44;
  border-left: 1px solid black;
  border-right: 1px solid black;
  margin: 0px 0px 0px 0px;
  padding: 1px 0px 1px 0px;
}
/* download page */
.older2 {
  color: #000000;
  background-color: #ffffff;
  border-left: 1px solid black;
  border-right: 1px solid black;
  margin: 0px 0px 0px 0px;
  padding: 1px 0px 1px 0px;
}

.col1 {
  border-left: 1px solid black;
  margin: 0px 0px 0px 0px;
  border-bottom: none;
  border-top: none;
}

.col7 {
  margin: 0px 0px 0px 0px;
  border-right: 1px solid black;
  border-bottom: none;
  border-top: none;
}

.col2, .col3, .col4, .col5, .col6 {
  margin: 0px 0px 0px 0px;
  padding: 0px 4px 0px 4px;
}

.osend {
  border-top: 1px solid black;
  margin: 0px 0px 10px 0px;
}

.download2 {
  background-color: #e0e0e0;
  padding: 10px 10px 10px 10px;
}

/* used on the version number lines in the verdiff.cgi script */
span.version {
  font-weight: bold;
  font-size: 120%;
  border-style: solid;
  border-width: thin;
  border-color: black;
  padding: 4px 4px 4px 4px;
}

/* used on the who/date lines in the verdiff.cgi script */
span.whodate {
  font-weight: bold;
}

tr.odd {
  color: #000000;
  background-color: #e0e0e0;
}

/* used for Metalink download links */
span.metalink {
  font-weight: bold;
}

/* a non-selected item in the main menu */
.menuitem {
  text-decoration: none;
  white-space: nowrap;
  padding: 0px 1em 0px 0px;
  font-family: sans-serif;
  color: #ffffff;
}

/* a non-selected item in the main menu, with the mouse hovering */
.menuitem:hover {
    text-decoration: none;
    color: #8080ff;
}

/* a selected item in the main menu */
.itemselect {
    font-family: sans-serif;
    text-decoration: none;
    padding: 0px 1em 0px 0px;
    font-weight: bold;
    color: #ffff80;
}

/* the top menu box */
.menu {
  width: 100%;
  background-color: #093754;
  text-align: center;
  padding-top: .5em;
  padding-bottom: .5em;
  line-height: 130%;
  font-size: 22px;
}

/* the main curl site left-side menu box */
.tailmenu {
  color: #ffffff;
  background-color: #4080ff;
  padding: 4px 4px 4px 4px;
}

.relatedbox {
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  color: #000000;
  float: right;
  text-align: left;
  padding: 4px 4px 4px 4px;
  margin: 0px 10px 0px 0px;
  background: white;
  font-size: 18px;
}

div.oslinks {
  clear: right;
  border-color: black;
  border-width: 1px;
  border-style: outset;
  color: #000000;
  float: right;
  text-align: right;
  padding: 2px 2px 2px 2px;
  background: white;
  font-size: 80%;
}


div.pollbox {
  border-color: black;
  border-width: 2px;
  border-style: outset;
  font-size: 80%;
  color: #000000;
  float: right;
  text-align: left;
  padding: 0px 2px 0px 2px;
  background: #ffffe0;
}

p.ingres {
  width: 80%;
  font-family: arial, helvetica, ariel, sans-serif;
  font-style: italic;
  margin-left: auto;
  margin-right: auto;
}

div.quote {
  border-style: solid;
  border-width: thin;
  border-color: black;
  padding: 2px 2px 2px 2px;

  background-color: #f0f0ff; 
  width: 90%;
  margin-left: 5%;
  margin-right: 5%;
}

div.yellowbox {
  border-style: outset;
  border-width: 3px;
  border-color: black;
  padding: 2px 2px 2px 2px;
  background-color: #fffff0; 
}

.bindingbox {
  float: right;
  border: solid 1px #000000;
  background-color: #ffffff; 
  padding: 2px 2px 2px 2px;
}

.bottomad {
  border: solid 1px #000000;
  background-color: #e0e0e0; 
  padding: 5px 5px 5px 5px;
  margin-left: auto;
  margin-right: auto;
}

.main {
}

/* the "bread crumbs" below the top menu */
.where {
    padding-top: .5em;
}

.contents {
  padding-top: 0px;
  margin-top: 0px;
  max-width: 50em;
  margin-left: auto;
  margin-right: auto;
}

/* Filtering menus on the autobuild page */
.filtermenu {
  /* Position select box to the right of the text */
  display: inline;
}

/* Input elements in the filtering menus */
.inputbox {
  width: 1.5em;
  background: #ffffff;
}

table.download {
    margin-left: 1em;
    font-size: 120%;
}

td.download {
    padding-right: 10px;
}

/* ------------------------------------------------------------------------ */
/* drop-down menu magic */

/* Dropdown Button */
.dropbtn {
    background-color: #093754;
    color: white;
    padding-right: 1em;
    /*font-size: 16px; */
    border: none;
    cursor: pointer;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 100;
}

/* Links inside the dropdown */
.dropdown-content a {
    color: #093754;
    padding: 4px;
    text-decoration: none;
    display: block;
    font-size: 80%;
    text-align: left;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #f1f1f1}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
    color: #8080ff;
}
