p.level0 {
    margin-left: 2em;
}

pre.level0 {
    width: fit-content;
    margin-left: 3em;
    padding-left: 0.5em;
    padding-right: 0.5em;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    background-color: #f0f0f0;
    word-break: keep-all;
}

P.level1 {
    padding-left: 4em;
}

pre.level1 {
    width: fit-content;
    margin-left: 5em;
    padding-left: 0.5em;
    padding-right: 0.5em;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    background-color: #f0f0f0;
    word-break: keep-all;
}

pre.level2, P.level2 {
 padding-left: 6em;
}

span.emphasis {
 font-style: italic;
}

span.bold {
 font-weight: bold;
}

span.manpage {
 font-weight: bold;
}

h2.nroffsh {

}

span.nroffip {
 font-weight: bold;
 font-size: 120%;
 font-family: monospace;
}

p.roffit {
 text-align: center;
 font-size: 80%;
}

/* DARK MODE PROPERTIES */
/* These will override all settings above */
@media (prefers-color-scheme: dark) {

    pre.level0 {
        width: fit-content;
        margin-left: 3em;
        padding-left: 0.5em;
        padding-right: 0.5em;
        padding-top: 0.5em;
        padding-bottom: 0.5em;
        background-color: #404040;
        word-break: keep-all;
    }

    pre.level1 {
        width: fit-content;
        margin-left: 5em;
        padding-left: 0.5em;
        padding-right: 0.5em;
        padding-top: 0.5em;
        padding-bottom: 0.5em;
        background-color: #404040;
        word-break: keep-all;
    }
}
