/******************************************************
 * Manpage-option-menu.css                            * 
 * CSS used on manpage.html to style the option menu. * 
 ******************************************************/

/* Apply style the the entire option menu. */
div#manpage-option-menu.sideStay {
  display: inline-block;
  position:fixed;
  max-width: 11.5em;
  min-width: 10em;
  width: 100%;
  font-size: 16px;  
  top: -10px;
  left: 0px;
  margin-top: 10px;
  padding-top: 10px;
  padding:5px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  color:white;
  background: #0a3754;    
  z-index: 1;  
}

/* Style option menu width when not active. */
div#manpage-option-menu.sideStayLeft.inactive {
  max-width: 86px;
  min-width: unset;
}

/* Style the unordered list holding options. */
div.sideStayLeft div ul {  
  max-height: 800px;
  min-height: 200px;
  max-width: 150px;
  min-width: 100px;
  height: 80vh;
  width: 100vw;
  margin-top: 0px;
  overflow-y: scroll;
  list-style: none;
}

/* Style the list items for each option. */
div.sideStayLeft div ul li {  
  display: inline-block;
  position: relative;
  width: 100%;
  right: 2em;  
  margin: auto 0px;
  padding: 2px 0px;  
}

/* Style the anchor links for options. */
div.sideStayLeft a {
  color: white;
}

/* Style the search box. */
.sideStayLeft div.searchBox {
  max-width: 180px;
  width: 100%;  
  color: black;
  background: white;  
  margin-left: -10px; 
  padding: 10px;  
}

/* Style Text above search box. */
.searchBox label {
  margin-left: 5px;
}

/* Style Search option input field. */
.sideStayLeft input {
  width: 80%;
  margin-left: 5px;
}

/* Style image to left of search box. */
.sideStayLeft img {
  position: relative;
  width: 10%;
  margin-top: 2px;
  margin-left: 5px;
  padding-top: 0;  
  top: 5px;
}

/* Style show hide button for search option element. */
button {
  color: white;
  background: #0a3754;
  width: 9em;
  height: 40px;  
  font-size: 60%;  
  margin: auto;
  padding: 5px;
  cursor: pointer;
}

/* Animate by option menu switch status for button movement. */
div#manpage-option-menu[data-on-side] {
 transition-timing-function: linear;
 transition-duration: 0.8s;
}

/* The button has been pressed on. */
div#manpage-option-menu[data-on-side="1"] {
 left: -80px; 
}
/* The button has been pressed off. */
div#manpage-option-menu[data-on-side="0"] {
 left: 0px;
}

/* Start media queries - min-height. */
/* Close box with bottom element, enabling all options to be scrolled 
   on lower screen heights. Close gap with curl logo.  */
@media screen and (min-height: 800px) {
  /* Style when button pressed on. */
  div#manpage-option-menu.sideStay.sideStayLeft:after {
    content: "_";
    display: inline-block;
    postion: relative;
    height: 100px;
    width: 105%;    
    margin-top: 10px;
    margin-left: -5px;
    border-right: 1px solid #0a3754;
    background-color: white;
    background-image: url("https://curl.se/logo/curl-logo.png");
    background-repeat: no-repeat;
    background-size: 50%;
    background-position: 50% 10%;
    color: white;
  }
  /* Style when button pressed off. */
  div#manpage-option-menu.sideStay.sideStayLeft.inactive:after {
    content: none;
  }
}
/* Start media queries - max-width. */
/* Style page content and doc menu below 1400px. */
@media screen and (max-width: 1400px) {
  div.menu {
    padding-left: 30px;    
  }
  div#activeManMenu.menu {
    font-size: 22px; 
    padding-left: 60px; 
  }
  div#activeManDiv.manpage {
    max-width: 80%;
    margin-left: 20%;
  }
}
/* Style page contents and menu below 1025pc. */
@media screen and (max-width: 1025px) {
  /* Re-style doc menu whne option menu not active. */
  div.menu {
     font-size: 22px;
     padding-left: 20px;
  }
  /* Re-style doc menu when option menu active. */
  div#activeManMenu.menu {
     padding-left: 90px;
  }
  /* Re-style page content when option menu active. */
  div#activeManDiv.manpage {
    max-width: 70%;    
  }
  /* Re-style page pre tags when option menu active. 
     Contain pre tags in content so not off screen. */
  div#activeManDiv.manpage pre {
    word-wrap: break-word;
    white-space: pre-wrap;
  }  
 /* Re-style option menu button. */
  div.sideStayLeft button {
    max-height: 3em;
  }    
}

/* Style the menu and page contents below 992px. */
@media screen and (max-width: 992px) {
  /* Re-style page doc menu dropdown. */
  div.menu div.dropdown {
    display: inline-block;
    position: relative;
    max-width: 18%;
    width: auto;    
    padding: 0px;    
  }
  /* Re-style page doc menu. */
  div#activeManMenu.menu {
     font-size: 20px; 
     padding-left: 120px;
  }      
  /* Contain pre tags in content so not off screen. */
  div.manpage pre {
    word-wrap: break-word;
    white-space: pre-wrap;
  }  
  /* Re-style option menu button. */
  div.sideStayLeft button {
    max-height: 2.5em;
  }
}

/* Re-style the doc menu at below 769px. */
@media screen and (max-width: 769px) {
  div#activeManMenu.menu {
    font-size: 20px;
    padding-left: 130px;    
  }  
}

/* Breakpoint where option menu no longer displayed. */
@media screen and (max-width: 768px) {    
  div#manpage-option-menu.sideStayLeft {
    display: none; 
  }  
}
