# Tight CSP since we use Javascript on these pages
Header set Content-Security-Policy: "default-src 'none'; script-src 'self'; img-src 'self'; style-src 'self' 'nonce-t7K7Blwdw9vw'; require-trusted-types-for 'script';"
