deny from all
AuthName curl
AuthType Basic
AuthUserFile /var/www/html/dl/curlusers
require valid-user
satisfy any

<ifmodule mod_expires.c>
ExpiresActive Off
</ifmodule>

Header always append Cache-Control: private
Header set Content-Security-Policy: "upgrade-insecure-requests; block-all-mixed-content; default-src 'none'; script-src 'self'; img-src 'self'; style-src 'self'; form-action 'self'; frame-ancestors 'none'; require-trusted-types-for 'script';"
Header set Cross-Origin-Embedder-Policy: "require-corp"
Header set Cross-Origin-Opener-Policy: "same-origin"
Header set Cross-Origin-Resource-Policy: "same-origin"
Header set Permissions-Policy: "accelerometer=(), ambient-light-sensor=(), autoplay=(), battery=(), bluetooth=(), browsing-topics=(), camera=(), display-capture=(), document-domain=(), encrypted-media=(), execution-while-not-rendered=(), execution-while-out-of-viewport=(), fullscreen=(), gamepad=(), geolocation=(), gyroscope=(), hid=(), identity-credentials-get=(), idle-detection=(), local-fonts=(), magnetometer=(), microphone=(), midi=(), otp-credentials=(), payment=(), picture-in-picture=(), publickey-credentials-create=(), publickey-credentials-get=(), screen-wake-lock=(), serial=(), speaker-selection=(), storage-access=(), usb=(), web-share=(), window-management=(), xr-spatial-tracking=()"
Header set Referrer-Policy: "strict-origin"
Header set X-Content-Type-Options: "nosniff"
Header set X-Frame-Options: "deny"
