deny from all
AuthName curl
AuthType Basic
AuthUserFile /var/www/html/dl/curlusers
require valid-user
satisfy any

<ifmodule mod_expires.c>
ExpiresActive Off
</ifmodule>

Header always append Cache-Control: private
Header set Content-Security-Policy: "upgrade-insecure-requests; block-all-mixed-content; default-src 'none'; script-src 'self'; img-src 'self'; style-src 'self'; form-action 'self'; frame-ancestors 'none'; require-trusted-types-for 'script';"
