td.yes {
  font-weight: bold;
  text-align: center;
  background-color: #00ff00;
}

td.no {
  text-align: center;
  background-color: #ffe0e0;
}

td.unknown {
  text-align: center;
  color: #e00000;
}

@media (prefers-color-scheme: dark) {
  td.yes {
    background-color: #008000;
  }

  td.no {
    background-color: #806060;
  }

  td.unknown {
    color: #ff4040;
  }
}
