name: make

on:
  # Trigger the workflow on push or pull requests, but only for the
  # master branch
  push:
    branches:
      - master
      - '*/ci'
  pull_request:
    branches:
      - master

permissions: {}

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5
        with:
          persist-credentials: false

      - name: install prereqs
        run: sudo apt-get install pandoc libcgi-pm-perl

      - name: clone the source repo
        run: git clone --depth=1 https://github.com/curl/curl.git cvssource

      - name: build the docs in the source repo
        run: |
          cd cvssource
          autoreconf -fi
          ./configure --without-ssl --without-libpsl
          make -C docs

      - name: install fcpp
        run: |
          git clone https://github.com/bagder/fcpp.git
          cd fcpp
          make
          make install

      - name: install roffit
        run: |
          git clone https://github.com/bagder/roffit.git
          cd roffit
          install -Dm0755 roffit /usr/local/bin/roffit

      - name: bootstrap
        run: ./bootstrap.sh

      - name: make
        run: make
