# Copyright (C) Daniel Stenberg, <daniel@haxx.se>, et al.
#
# SPDX-License-Identifier: curl

name: make

'on':
  push:
    branches:
      - master
      - '*/ci'
  pull_request:
    branches:
      - master

concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.sha }}
  cancel-in-progress: true

permissions: {}

jobs:
  build:
    name: 'build'
    runs-on: ubuntu-latest

    steps:
      - name: install prereqs
        run: |
          sudo rm -f /var/lib/man-db/auto-update
          sudo apt-get -o Dpkg::Use-Pty=0 install pandoc libcgi-pm-perl

      - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
        with:
          persist-credentials: false

      - name: clone the source repo
        run: git clone --depth=1 https://github.com/curl/curl.git cvssource

      - name: build the docs in the source repo
        run: |
          cd cvssource
          autoreconf -fi
          ./configure --without-ssl --without-libpsl
          make -C docs

      - name: install fcpp
        run: |
          git clone https://github.com/bagder/fcpp.git
          cd fcpp
          make install

      - name: install roffit
        run: |
          git clone https://github.com/bagder/roffit.git
          cd roffit
          install -Dm0755 roffit /usr/local/bin/roffit

      - name: bootstrap
        run: ./bootstrap.sh

      - name: make
        run: make
