name: perlcheck

on:
  # Trigger the workflow on push or pull requests, but only for the
  # master branch
  push:
    branches:
      - master
      - '*/ci'
  pull_request:
    branches:
      - master

permissions: {}

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5
        with:
          persist-credentials: false

      - name: install prereqs
        run: sudo apt-get install libcgi-pm-perl libstring-crc32-perl

      - name: perlcheck
        run: make perlcheck
